@media(max-width: 375px) {

    html {
        display: flex;
        flex-direction: column;
    }

    body {
        padding: 10px 30px 50px 30px;
        background: url(../images/bg-mobile.svg) hsl(257, 40%, 49%) no-repeat;
    }

    .header {
        display: flex;
        margin-bottom: 40px;
    }

    .header .logo {
        width: 140px;
    }

    .conteudo-principal {
        display: flex;
        flex-direction: column;
    }

    .descricao {
        text-align: center;
        margin: 0;
    }

    .descricao h2 {
        margin-top: 60px;
        font-size: 24px;
    }

    .descricao .btn {
        padding: 10px 80px;
        text-align: center;
    }

    .footer {
        display: flex;
        justify-content: center;
    }

    .footer .social {
        margin-top: 50px;

    }


}